/* Перемінні з основними кольорами сайту */
:root {
  --first-text-color: #212121;
}
:root {
  --second-text-color: #757575;
}
:root {
  --accent-color: #2196f3;
}
:root {
  --bcg-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
}
.logo {
  font-family: "Oleo Script", cursive;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
/* Оформлення синього тексту логотипу */
.logo > span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.35;
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.nav-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.nav-item a:hover,
a:focus,
.contact-item a:hover,
a:focus {
  text-decoration: underline;
  color: var(--accent-color);
}
/* Фільтр для вибору робіт студії */
.btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: inherit;
}
.btn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.nav a,
.contact a,
.card-list a {
  text-decoration: none;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}
.card-list-item p {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* Добавив кольор фону футера, щоб було видно білий текст параграфу */
footer {
  background-color: var(--bcg-color);
}
footer .logo {
  color: #ffffff;
}
/* Параграф з адресою */
.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
